@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.center {
  padding: 0 calc(50% - 600px);
}
@media screen and (max-width: 767px) {
  .center {
    padding: 0 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.filled-button {
  width: 234px;
  height: 48px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #9C0332;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}
.filled-button:hover {
  background-color: #EB443F;
}

.game-card {
  width: 378px;
  height: 300px;
  border-radius: 16px;
  padding: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 1, 15, 0)), to(#001944));
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  transition: -webkit-box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
}
.game-card:hover {
  -webkit-box-shadow: inset 0 0 0 3px #44D2FF;
          box-shadow: inset 0 0 0 3px #44D2FF;
}
@media screen and (max-width: 767px) {
  .game-card {
    max-width: 343px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
.game-card__title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.welcome-section {
  height: 1024px;
  padding-top: 21.2%;
  background: #000915 url(../assets/welcome-background.jpg) no-repeat center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .welcome-section {
    background-position: 31% 0;
    height: 735px;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .welcome-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.welcome-section__title {
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 32px;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .welcome-section__title {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }
}
.welcome-section__caption {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 44px;
  max-width: 481px;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .welcome-section__caption {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    width: 343px;
    margin: 0 auto 32px auto;
  }
}

.games-section {
  padding: 128px 0;
  min-height: 556px;
  background-color: #000915;
}
.games-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.game-card-1 {
  background-image: url(../assets/game-card-1.jpg);
}
.game-card-2 {
  background-image: url(../assets/game-card-2.jpg);
}
.game-card-3 {
  background-image: url(../assets/game-card-3.jpg);
}

.game-section {
  background-color: #000915;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .game-section {
    height: 654px;
  }
}
.game-section .game-section__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .game-section .game-section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.game-section .game-section__left {
  max-width: 584px;
}
@media screen and (max-width: 767px) {
  .game-section .game-section__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px;
  }
}
.game-section .game-section__right {
  height: 333px;
  width: 485px;
}
@media screen and (max-width: 767px) {
  .game-section .game-section__right {
    width: 100%;
    height: 236px;
  }
}
.game-section.words .game-section__left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.game-section.words .game-section__right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media screen and (max-width: 767px) {
  .game-section.words .game-section__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .game-section.words .game-section__right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.game-title {
  color: #FFFFFF;
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .game-title {
    font-size: 32px;
    line-height: 39px;
  }
}

.game-caption {
  color: #FFFFFF;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .game-caption {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}