@import '../general/variables';

.filled-button {
  width: 234px;
  height: 48px;
  font-size: 18px;
  line-height: 22px;
  color: $white;
  background-color: $red;
  transition: background-color .3s ease-out;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background-color: $red-hover;
  }
}
